{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Liste des Types de Produits</h2>

    <!-- Formulaire de recherche -->
    <form method="get" class="d-flex mb-3">
        <input type="text" name="q" class="form-control me-2" placeholder="Rechercher par nom ou catégorie" value="{{ query }}">
        <button type="submit" class="btn btn-outline-primary">Rechercher</button>
    </form>

    <!-- Boutons Actions -->
    <div class="mb-3">
        <a href="{% url 'producttype_create' %}" class="btn btn-primary">Ajouter un Type de Produit</a>
        <a href="{% url 'producttype_export' %}" class="btn btn-success">Exporter en Excel</a>
        <a href="{% url 'producttype_import' %}" class="btn btn-warning">Importer un fichier Excel</a>
        <button type="submit" class="btn btn-danger mt-2">Supprimer la sélection</button>

    </div>

    <!-- Formulaire de suppression multiple -->
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for producttype in producttypes %}
                <tr>
                    <td><input type="checkbox" name="selected_producttypes" value="{{ producttype.id }}"></td>
                    <td>{{ producttype.id }}</td>
                    <td><a href="{% url 'producttype_detail' producttype.pk %}">{{ producttype.nom }}</a></td>
                    <td>{{ producttype.description }}</td>
                    <td>
                        <a href="{% url 'producttype_update' producttype.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script>
    // Sélectionner/désélectionner toutes les cases à cocher
    document.getElementById("select-all").addEventListener("change", function() {
        let checkboxes = document.querySelectorAll('input[name="selected_producttypes"]');
        checkboxes.forEach(checkbox => checkbox.checked = this.checked);
    });
</script>

{% endblock %}
