{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Liste des Types de Produits</h2>
    <a href="{% url 'producttype_create' %}" class="btn btn-primary mb-3">Ajouter un Type de Produit</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for producttype in producttypes %}
            <tr>
                <td>{{ producttype.id }}</td>
                <td><a href="{% url 'producttype_detail' producttype.pk %}">{{ producttype.nom }}</a></td>
                <td>{{ producttype.description }}</td>
                <td>
                    <a href="{% url 'producttype_update' producttype.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'producttype_delete' producttype.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
