{% extends "base.html" %}

{% block title %}<title>IPNC App</title>{% endblock %}

{% block content %}

<div class="card m-5">
  <div class="card-header">
    Definition
  </div>
  <div class="card-body">
    <h5 class="card-title">Indice National des prix à la consommation (INPC)</h5>
    <p class="card-text"> L'indice des prix à la consommation (IPC) est l'instrument de mesure de l'inflation. Il permet d'estimer, entre deux périodes données, la variation moyenne des prix des produits consommés par les ménages.

      Il est basé sur l'observation d'un panier fixe de biens et services, actualisé chaque année. Chaque produit est pondéré, dans l'indice global, proportionnellement à son poids dans la dépense de consommation des ménages </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    
    
{% endblock %}